/* Reset default margin and padding */
body,
ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Style the navigation bar */
.navbar {
    background-color: #333; /* Dark background color */
    padding: 10px 0; /* Padding above and below the navbar */
    text-align: center; /* Center align the navigation links */
}

.navbar ul {
    list-style-type: none; /* Remove bullet points from list */
}

.navbar ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 10px; /* Add spacing between list items */
}

.navbar ul li button {
    text-decoration: none; /* Remove underline from button */
    color: #ffffff; /* White text color */
    background-color: transparent; /* Transparent background color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Padding around button text */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition effect for background color */
}

.navbar ul li button:hover {
    background-color: #555; /* Darken background color on button hover */
}

/* Main content styles */
.content {
    padding: 20px; /* Padding for main content */
    text-align: center; /* Center align main content */
}

.navbar{
    display: flex;
    flex-direction: column;
}

.navbar img{
    height: 35px;
    width: 35px;
}

.show-tile{
    background-color: aliceblue;
    width: 427px;
    height: 240px;
}

.button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 13px;
    margin-right: 13px;
}

.watch{
    overflow: auto;
}